@charset "UTF-8";

body {
	background-color: #FDF5E6;
}
.title {
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}
#btn-container{
	text-align: center;
}
.button{
	background-color: black;
	border: none;
	color: white;
	text-align: center;
	margin: auto;
	display: block;
	float: left;
}
