@charset "UTF-8";

/* === Overall === */
body {
	background-color: #FDF5E6;
}
h1 {
	font-family: verdana;
	font-size: 300%;
	text-align: center;
}
#btn-container {
	text-align: center;
}
.button {
	background-color: black;
	border: none;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.inline_text{
	margin-left: 45%;
	overflow: auto;
	display: inline-block;
}
/* === End Overall === */

/* === Search Page === */
#search-wrap {
	background-color: #FDF5E6;
	text-align: center;
}
#search-header h1{
	margin: 0 auto;
}
.title {
	display: block;
	margin: 0 auto;
	font-size: 110%;
}
#functions {
	display: inline-block;
	margin: 0 auto;
	text-align: right;
	padding-right: 3%;		
}
#submit {
	display: block;
	text-align: center;	
}
#search-result {
	display: inline-block;
	text-align: center;
}
#search-wrap .pagination #previous, #next {
	text-align: center;
	display: none;
	border: solid black 1px;
	border-radius: 5px;
}
#search-wrap .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
#search-wrap #search-result #search_result_table {
	table-layout: fixed;
	width: 100%;
}
#search-wrap #search-result #search_result_head {
	font-size: 100%;
}
#search-wrap #search-result #search_result_body {
	font-size: 80%;
}
#search-wrap .pagination a.active {
    background-color: #a9afb9;
    color: white;
    border-radius: 5px;
}
#search-wrap .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
/* === End Search Page === */
